<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Mynd</title>
</head>
<body>
    <div class="info">
        <h1>Welcome to Sound Mynd!</h1>
        <h4>This is a place to make a new beginning...</h4>
        <h4>A place to shed the cloak of darkness.</h4>
        <h4>We are here to help you navigate this journey called life.</h4>
        <h5>It doesn't matter where you are on the path, we will meet you where you are and help you through the obstacles that keep you from the life you want.</h5>
        <h5>NO JUDGEMENT. NO STIGMA.</h5>
        <h5>Come join us and let us help you find where you belong.</h5>
    </div>
    <div class="link">
        <a href="/users">Register/Login</a>
    </div>
</body>
</html>