// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background: image_url('brain.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.info{
    width:1000px;
    margin:auto;
    margin-top: 200px;
    padding: 20px;
    background: black;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 40px;
    color: white;
}
.link{
    width:250px;
    margin: 100px auto;
    padding: 20px;
    background: black;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 40px;
}
.link a{
    font-size: 25px;;
}